@model FrontEnd.Models.ParametroViewModel

@{
    ViewBag.Title = "Eliminar parámetro";
}

<h2>Eliminar</h2>

<h3>Está seguro de eliminar el registro?</h3>
<div>
    <h4>Parámetros generales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tabla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tabla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idParametro)
    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Regresar a la Lista", "Index", "Index", new { @class = "btn btn-default" })
    </div>
    }
</div>
