@model FrontEnd.Models.UsuarioViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idPersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.persona.numeroIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.nombreRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasenia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idUsuario }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Regresar a la Lista", "Index", "Index", new { @class = "btn btn-default" })
</p>
